@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
}
body{
    background-image: url(../img/background.png);
}
.cabecalho{
    background-image: url(../img/background2.png);
    height: 665px;
    width: 250px;
}
#logo{
    margin-top: -55px;
}
nav ul{
    list-style: none;
    text-align: center;
    margin-right: 70px;
    margin-left: -10px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.mapt{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;    
    margin-top: -500px;
    margin-left: 245px;
    
}

.boxtxt{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    flex-shrink: 1;
    margin-top: 25px;
    margin-left: 250px;

}
.cxmaior{
    background-color: #F2924F;
    padding: 10px;
    width: 170px;
    display: block;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    box-sizing: border-box;




}

.cxmaior{
    background-color: #F2924F;
    padding: 10px;
    width: 170px;
    display: flex;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}